page-listPoll {
    .scroll-content{
        padding-top: 20px;
        padding-left: 5%;
        padding-right: 5%;
    }

    .title{
        font-size:$font-xxlarge;
        color:#3398DC;
        text-transform: uppercase;
    }

    .grey{
        color: grey;
        font-size: $font-semi-large;
        text-transform: capitalize;
    }

    .warn{
        text-align: center;
        color: grey;
        font-size: $font-xxlarge;
        padding-left: 10px;
        padding-right: 10px;
    }

    .white{
        margin-top: 19%;
        background-color: white;
        padding-top: 1px;
        padding-bottom: 42px;
        border-radius: 50%;

    }

    .item{
        margin-top: 10px;
    }



}