$blue-text: #2E86C1;
$grey-text: #595959;
$error:  #ff0000;
$orange: #ffcc80;
$background-orange: #ffe0b3;
$ok-green: #009933;
$background-blue: #d6e9f5;
$background-grey: #f2f2f2;
$orange-dark: #e8aa33;

